In [2]:
import os
import pandas as pd
import numpy as np
!pip install pybaseball
from pybaseball import batting_stats

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pybaseball
  Downloading pybaseball-2.2.1-py3-none-any.whl (415 kB)
     |████████████████████████████████| 415 kB 2.1 MB/s
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.21.6)
Requirement already satisfied: tqdm>=4.50.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (4.64.1)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (4.6.3)
Requirement already satisfied: attrs>=20.3.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (22.1.0)
Requirement already satisfied: scipy>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.7.3)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.3.5)
Requirement already satisfied: requests>=2.18.1 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (2.23.0)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (3.2.2)
Requirement already satisfied: pyarrow>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (6.0.1)
Requirement already satisfied: lxml>=4.2.1 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (4.9.1)
Collecting pygithub>=1.51
  Downloading PyGithub-1.55-py3-none-any.whl (291 kB)
     |████████████████████████████████| 291 kB 49.0 MB/s
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->pybaseball) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->pybaseball) (2022.2.1)
Collecting pyjwt>=2.0
  Downloading PyJWT-2.5.0-py3-none-any.whl (20 kB)
Collecting pynacl>=1.4.0
  Downloading PyNaCl-1.5.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (856 kB)
     |████████████████████████████████| 856 kB 60.2 MB/s
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.0.0->pybaseball) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated->pygithub>=1.51->pybaseball) (1.14.1)
Installing collected packages: pynacl, pyjwt, deprecated, pygithub, pybaseball
Successfully installed deprecated-1.2.13 pybaseball-2.2.1 pygithub-1.55 pyjwt-2.5.0 pynacl-1.5.0

In [1]:
start = 2002
end = 2022

In [3]:
batting = batting_stats(start, end, qual = 200)

In [4]:
if os.path.exists("batting.csv"):
    batting = pd.read_csv("batting.csv", index_col=0)
else:
    batting = batting_stats(start, end, qual=200)
    batting.to_csv("batting.csv")

In [5]:
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)

In [6]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,70,...,NaN,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN
6,15640,2022,Aaron Judge,NYY,30,150,548,667,172,84,...,0.269,118.4,237.0,0.608,390,0.172,0.289,NaN,NaN,NaN
15,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,0.131,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN
2,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6874,1698,2010,Gerald Laird,DET,30,89,270,299,56,40,...,NaN,NaN,0.0,NaN,0,0.166,0.252,NaN,NaN,NaN
7034,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,0.096,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN
6667,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN
6978,620,2002,Neifi Perez,KCR,29,145,554,585,131,104,...,NaN,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN
977,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN

In [7]:
def next_season(player):
  player = player.sort_values("Season")
  player["Next_WAR"] = player["WAR"].shift(-1)
  return player

batting = batting.groupby("IDfg", group_keys=False).apply(next_season)

In [8]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                 Name  Season  WAR  Next_WAR
5558  Alfredo Amezaga    2006  1.1       2.0
5002  Alfredo Amezaga    2007  2.0       1.2
5247  Alfredo Amezaga    2008  1.2       NaN
1165  Garret Anderson    2002  3.7       5.1
867   Garret Anderson    2003  5.1       0.8
...               ...     ...  ...       ...
5946      Owen Miller    2022  0.6       NaN
4880    Andrew Vaughn    2021 -0.3       0.0
2846    Andrew Vaughn    2022  0.0       NaN
6615     Ha-seong Kim    2021  0.5       3.2
4597     Ha-seong Kim    2022  3.2       NaN

[6746 rows x 4 columns]

In [9]:
null_count = batting.isnull().sum()

In [10]:
null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
CSW%           0
xBA         6746
xSLG        6746
xwOBA       6746
Next_WAR    1176
Length: 320, dtype: int64

In [11]:
complete_cols = list(batting.columns[null_count == 0])

In [12]:
complete_cols

['IDfg',
 'Season',
 'Name',
 'Team',
 'Age',
 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'GDP',
 'SB',
 'CS',
 'AVG',
 'GB',
 'FB',
 'LD',
 'IFFB',
 'Pitches',
 'Balls',
 'Strikes',
 'IFH',
 'BU',
 'BUH',
 'BB%',
 'K%',
 'BB/K',
 'OBP',
 'SLG',
 'OPS',
 'ISO',
 'BABIP',
 'GB/FB',
 'LD%',
 'GB%',
 'FB%',
 'IFFB%',
 'HR/FB',
 'IFH%',
 'BUH%',
 'wOBA',
 'wRAA',
 'wRC',
 'Bat',
 'Rep',
 'Pos',
 'RAR',
 'WAR',
 'Dol',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'PH',
 'WPA/LI',
 'Clutch',
 'FB% (Pitch)',
 'FBv',
 'SL%',
 'SLv',
 'CB%',
 'CBv',
 'CH%',
 'CHv',
 'wFB',
 'wSL',
 'wCB',
 'wCH',
 'wFB/C',
 'wSL/C',
 'wCB/C',
 'wCH/C',
 'O-Swing%',
 'Z-Swing%',
 'Swing%',
 'O-Contact%',
 'Z-Contact%',
 'Contact%',
 'Zone%',
 'F-Strike%',
 'SwStr%',
 'BsR',
 'Def',
 'wSB',
 'UBR',
 'Age Rng',
 'Off',
 'Lg',
 'wGDP',
 'Pull%',
 'Cent%',
 'Oppo%',
 'Soft%',
 'Med%',
 'Hard%',
 'TTO%',
 'AVG+',
 'BB%+',
 'K%+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'LD+%',
 'GB%+',
 'FB%+',
 'HR/FB%+',
 'Pull%+',
 'Cent%+',
 'Oppo%+',
 'Soft%+',
 'Med%+',
 'Hard%+',
 'Events',
 'CStr%',
 'CSW%']

In [13]:
batting = batting[complete_cols + ["Next_WAR"]].copy()

In [14]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Pull%+,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,Next_WAR
5558,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,86,107,113,143,109,63,0,0.188,0.256,2.0
5002,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,92,101,112,109,113,75,0,0.175,0.227,1.2
5247,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,99,101,101,123,111,64,0,0.178,0.244,NaN
1165,2,2002,Garret Anderson,ANA,30,158,638,678,195,107,...,118,91,80,65,97,129,0,0.137,0.232,5.1
867,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,112,101,80,90,99,109,0,0.164,0.252,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5946,24655,2022,Owen Miller,CLE,25,124,409,456,101,70,...,92,111,98,131,101,81,330,0.188,0.266,NaN
4880,26197,2021,Andrew Vaughn,CHW,23,127,417,469,98,61,...,87,104,116,84,99,110,321,0.185,0.285,0.0
2846,26197,2022,Andrew Vaughn,CHW,24,128,491,533,136,90,...,88,107,110,95,99,105,405,0.200,0.288,NaN
6615,27506,2021,Ha-seong Kim,SDP,25,117,267,298,54,32,...,126,99,59,137,96,88,201,0.216,0.303,3.2
4597,27506,2022,Ha-seong Kim,SDP,26,143,492,553,123,82,...,114,103,72,116,101,89,406,0.203,0.275,NaN

In [15]:
batting.dtypes

IDfg          int64
Season        int64
Name         object
Team         object
Age           int64
             ...
Hard%+        int64
Events        int64
CStr%       float64
CSW%        float64
Next_WAR    float64
Length: 132, dtype: object

In [16]:
batting.dtypes[batting.dtypes == "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [17]:
batting["Dol"]

5558      $5.5
5002     $11.2
5247      $7.2
1165     $14.6
867      $22.0
         ...
5946      $5.0
4880    ($2.6)
2846    ($0.3)
6615      $3.9
4597     $25.9
Name: Dol, Length: 6746, dtype: object

In [18]:
del batting["Dol"]

In [19]:
batting["Age Rng"]

5558    28 - 28
5002    29 - 29
5247    30 - 30
1165    30 - 30
867     31 - 31
         ...
5946    25 - 25
4880    23 - 23
2846    24 - 24
6615    25 - 25
4597    26 - 26
Name: Age Rng, Length: 6746, dtype: object

In [20]:
del batting["Age Rng"]

In [21]:
batting["team_code"] = batting["Team"].astype("category").cat.codes

In [22]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,Next_WAR,team_code
5558,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,107,113,143,109,63,0,0.188,0.256,2.0,12
5002,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,101,112,109,113,75,0,0.175,0.227,1.2,12
5247,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,101,101,123,111,64,0,0.178,0.244,NaN,12
1165,2,2002,Garret Anderson,ANA,30,158,638,678,195,107,...,91,80,65,97,129,0,0.137,0.232,5.1,1
867,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,101,80,90,99,109,0,0.164,0.252,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5946,24655,2022,Owen Miller,CLE,25,124,409,456,101,70,...,111,98,131,101,81,330,0.188,0.266,NaN,9
4880,26197,2021,Andrew Vaughn,CHW,23,127,417,469,98,61,...,104,116,84,99,110,321,0.185,0.285,0.0,7
2846,26197,2022,Andrew Vaughn,CHW,24,128,491,533,136,90,...,107,110,95,99,105,405,0.200,0.288,NaN,7
6615,27506,2021,Ha-seong Kim,SDP,25,117,267,298,54,32,...,99,59,137,96,88,201,0.216,0.303,3.2,26
4597,27506,2022,Ha-seong Kim,SDP,26,143,492,553,123,82,...,103,72,116,101,89,406,0.203,0.275,NaN,26

In [23]:
batting_full = batting.copy()
batting = batting.dropna().copy()

In [24]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = Ridge(alpha=1)

split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, 
                                n_features_to_select=20, 
                                direction="forward",
                                cv=split,
                                n_jobs=8
                               )

In [25]:
removed_columns = ["Next_WAR", "Name", "Team", "IDfg", "Season"]
selected_columns = batting.columns[~batting.columns.isin(removed_columns)]

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
batting.loc[:, selected_columns] = scaler.fit_transform(batting[selected_columns])

In [27]:
batting.describe()

,IDfg,Season,Age,G,AB,PA,H,1B,2B,3B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,Next_WAR,team_code
count,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,...,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000
mean,5359.664093,2011.155296,0.360620,0.653001,0.478936,0.481240,0.366178,0.290625,0.399440,0.103481,...,0.457531,0.403209,0.410851,0.510998,0.478705,0.172861,0.498872,0.545798,1.791777,0.474226
std,5127.583904,5.608152,0.147484,0.255867,0.242380,0.262176,0.182514,0.138752,0.171712,0.105880,...,0.114032,0.131231,0.121099,0.130398,0.134035,0.273932,0.137200,0.120679,1.993569,0.305046
min,1.000000,2002.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.400000,0.000000
25%,1129.250000,2006.000000,0.269231,0.478632,0.276978,0.259516,0.211207,0.179245,0.258621,0.043478,...,0.382022,0.315789,0.331461,0.420290,0.387755,0.000000,0.408511,0.466960,0.300000,0.205882
50%,3531.000000,2011.000000,0.346154,0.709402,0.507194,0.508651,0.370690,0.287736,0.379310,0.086957,...,0.460674,0.398496,0.404494,0.507246,0.489796,0.000000,0.493617,0.546256,1.500000,0.470588
75%,9009.000000,2016.000000,0.461538,0.871795,0.688849,0.711073,0.508621,0.391509,0.517241,0.130435,...,0.528090,0.488722,0.483146,0.594203,0.564626,0.346828,0.591489,0.625551,2.900000,0.735294
max,27506.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.900000,1.000000

In [28]:
sfs.fit(batting[selected_columns], batting["Next_WAR"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=20,
                          n_jobs=8)

In [29]:
predictors = list(selected_columns[sfs.get_support()])

In [30]:
predictors

['Age',
 'IBB',
 'SO',
 'SB',
 'BU',
 'BABIP',
 'IFH%',
 'WAR',
 'Spd',
 'PH',
 'CB%',
 'O-Contact%',
 'wGDP',
 'Oppo%',
 'OBP+',
 'SLG+',
 'LD+%',
 'Pull%+',
 'Soft%+',
 'Hard%+']

In [31]:
def backtest(data, model, predictors, start=5, step=1):
    all_predictions = []
    
    years = sorted(data["Season"].unique())
    
    for i in range(start, len(years), step):
        current_year = years[i]
        train = data[data["Season"] < current_year]
        test = data[data["Season"] == current_year]
        
        model.fit(train[predictors], train["Next_WAR"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test["Next_WAR"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [32]:
predictions = backtest(batting, rr, predictors)

In [33]:
predictions

      actual  prediction
5002     1.2    1.556063
1923     1.4    0.811510
3110    -0.1    0.627641
5795     0.6    0.888410
1104     4.8    2.222727
...      ...         ...
1913     1.8    2.751231
5877     1.0    1.909339
7025     0.6    1.543742
4880     0.0    1.798661
6615     3.2    1.094061

[4122 rows x 2 columns]

In [34]:
from sklearn.metrics import mean_squared_error

mean_squared_error(predictions["actual"], predictions["prediction"])

2.784528236133141

In [35]:
batting["Next_WAR"].describe()

count    5570.000000
mean        1.791777
std         1.993569
min        -3.400000
25%         0.300000
50%         1.500000
75%         2.900000
max        11.900000
Name: Next_WAR, dtype: float64

In [36]:
2.7782521360490975 ** .5

1.6668089680731555

In [37]:
def player_history(df):
    df = df.sort_values("Season")
        
    df["player_season"] = range(0, df.shape[0])
    df["war_corr"] = list(df[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"),"WAR"])
    df["war_corr"].fillna(0, inplace=True)
    
    df["war_diff"] = df["WAR"] / df["WAR"].shift(1)
    df["war_diff"].fillna(1, inplace=True)
    df["war_diff"][df["war_diff"] == np.inf] = 1
    
    return df

batting = batting.groupby("IDfg", group_keys=False).apply(player_history)

In [38]:
def group_averages(df):
  return df["WAR"] / df["WAR"].mean()

In [39]:
batting["war_season"] = batting.groupby("Season", group_keys=False).apply(group_averages)

In [40]:
new_predictors = predictors + ["player_season", "war_corr", "war_season", "war_diff"]

In [41]:
predictions = backtest(batting, rr, new_predictors)

In [42]:
mean_squared_error(predictions["actual"], predictions["prediction"])

2.6959860723666265

In [43]:
pd.Series(rr.coef_, index=new_predictors).sort_values()

Age             -2.574989
WAR             -1.840496
BABIP           -1.726937
SLG+            -1.518009
Soft%+          -1.319892
BU              -0.958499
PH              -0.720058
SO              -0.658673
war_diff        -0.585365
wGDP            -0.414834
CB%             -0.335500
LD+%            -0.244494
Pull%+          -0.170162
war_corr        -0.094556
player_season    0.000489
O-Contact%       0.286164
IFH%             0.364096
OBP+             0.488697
Oppo%            0.725916
Spd              0.732275
SB               1.052348
IBB              1.704175
Hard%+           2.365061
war_season       3.464523
dtype: float64

In [44]:
diff = predictions["actual"] - predictions["prediction"]

In [45]:
merged = predictions.merge(batting, left_index=True, right_index=True)

In [46]:
merged["diff"] = (predictions["actual"] - predictions["prediction"]).abs()

In [47]:
merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff"]].sort_values(["diff"])

       IDfg  Season              Name       WAR  Next_WAR      diff
4614   3371    2014  Alejandro De Aza  0.260870       0.9  0.000260
4855   4712    2013        Ben Revere  0.267081       1.8  0.001233
4241   8722    2017      Jason Castro  0.341615       1.7  0.001351
2239   2106    2008       Ryan Church  0.298137       1.0  0.001443
3901   1388    2007       Greg Norton  0.192547       0.4  0.001963
...     ...     ...               ...       ...       ...       ...
3253   5631    2010         Matt Kemp  0.211180       8.3  6.358501
3167   4810    2007      Brian McCann  0.304348       8.6  6.373108
874    9166    2010      Buster Posey  0.459627      10.1  6.575298
451   15640    2021       Aaron Judge  0.552795      10.9  7.029396
2521  11579    2014      Bryce Harper  0.310559       9.3  7.450548

[4122 rows x 6 columns]

In [ ]:
ga = batting[batting["IDfg"] == 2].copy()

In [ ]:
ga["player_season"] = range(0, ga.shape[0])

In [ ]:
list(ga[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"), "WAR"])

[nan,
 1.0,
 -0.6611430912519525,
 -0.8365619976685157,
 -0.8363121929961224,
 -0.6921918007562201,
 -0.5950132649769155]